.app{
    height: 100vh;
}

.app .sections{
    width: 100%;
    height: calc(100vh - 70px);
    background-color: lightsalmon;
    position: relative;
    scroll-behavior: smooth;
    top: 70px;
    scroll-snap-type: y mandatory;
}


.app .sections::-webkit-scrollbar{
    display: none;
}

.app .sections > *{
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
}


